PORT=5000
DATABASE_URL=your_neon_postgres_url_here
JWT_SECRET=your_long_random_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
REDIS_URL="rediss://default:gQAAAAAAARHkAAIncDE2NmM2YjhmOGY4YWM0NzdmOGY1MzJjZjIyOWM0ODFlZnAxNzAxMTY@bold-yeti-70116.upstash.io:6379"